.containerLoading {
  margin-top: 130px;
  width: 100%;
  height: max-content;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 400;
}

.container {
  margin-top: 130px;
  width: 100%;
  height: max-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 90%;
}

.title h2 {
  font-size: 60px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}

.title p {
  font-size: 20px;
  text-align: center;
}

.listProducts {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
